<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Price Wise: Your Savvy Shopping Companion</title>
    <link rel="icon" href="./images/favicon.ico" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./CSS/styles.css" />
  </head>
  <body>
    <!-- NAVBAR START -->
    <div class="container">
      <header
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
      >
        <div class="col-md-3 mb-2 mb-md-0 logo-and-name">
          <a
            href="/"
            class="d-inline-flex link-body-emphasis text-decoration-none"
          >
            <img
              src="/images/logo.png"
              alt="Price Wise Logo"
              class="header-logo"
            />
          </a>
          <h3 id="navbar-brand-name">PriceWise.</h3>
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2">Home</a></li>
          <li>
            <a href="#how-it-works" class="nav-link px-2">How It Works</a>
          </li>
          <li>
            <a href="#why-choose-pricewise" class="nav-link px-2">Why?</a>
          </li>
          <li><a href="#about-us" class="nav-link px-2">About</a></li>
        </ul>

        <div class="col-md-3 text-end">
          <a href="/signup">
            <button type="button" class="btn btn-dark cta-btn-nav-primary mx-3">
              Sign up
            </button>
          </a>
          <a href="/login">
            <button type="button" class="btn btn-outline-dark cta-btn-nav-sec">
              Login
            </button>
          </a>
        </div>
      </header>
    </div>

    <!-- NAVBAR END -->

    <!-- HERO START -->
    <section class="container">
      <div class="px-4 py-5 my-5 text-center">
        <img
          class="d-block mx-auto mb-4"
          src="/images/logo.png"
          alt="Price Wise Logo"
          width="100"
          height="100"
        />
        <h2 class="display-5 text-body-emphasis hero-heading">
          Save Money on Every Purchase <br />
          with <span class="price-wise-span">PriceWise.</span>
        </h2>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">
            Welcome to PriceWise, the ultimate companion for intelligent
            savings. We comprehend the excitement of discovering incredible
            deals and preserving funds on your beloved items. That's precisely
            why PriceWise was born
          </p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/signup"
              ><button
                type="button"
                class="btn btn-dark btn-lg px-4 gap-3 cta-btn-hero"
              >
                Get Started Now
              </button></a
            >
          </div>
        </div>
      </div>
    </section>
    <!-- HERO END -->

    <!-- HOW IT WORKS START -->
    <section id="how-it-works">
      <div class="container px-4 py-5" id="featured-3">
        <h2 class="pb-2 border-bottom">How It Works.</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
          <div class="feature col">
            <div
              class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-light bg-gradient fs-2 mb-3"
            >
              <img src="./images/search.svg" alt="search" class="hiw-icons" />
            </div>
            <h3 class="fs-2 text-body-emphasis">Track Any Product</h3>
            <p>
              Simply enter the ASIN or URL of the product you want to monitor,
              and PriceWise will keep an eye on it for you. Whether it's
              electronics, fashion, household items, or more, we've got you
              covered.
            </p>
            <a href="#" class="icon-link">
              Try it
              <img src="./images/chevron-right.svg" alt="" />
            </a>
          </div>
          <div class="feature col">
            <div
              class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-light bg-gradient fs-2 mb-3"
            >
              <img src="./images/bell.svg" alt="bell" class="hiw-icons" />
            </div>
            <h3 class="fs-2 text-body-emphasis">Get Instant Alerts</h3>
            <p>
              Once you set your desired price threshold, PriceWise will
              diligently track the product's price and notify you via email as
              soon as it drops below your specified amount. No more endless
              searching or manually checking prices – we'll do the work for you.
            </p>
            <a href="#" class="icon-link">
              Try it
              <img src="./images/chevron-right.svg" alt="" />
            </a>
          </div>
          <div class="feature col">
            <div
              class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-light bg-gradient fs-2 mb-3"
            >
              <img src="./images/tags.svg" alt="tags" class="hiw-icons" />
            </div>
            <h3 class="fs-2 text-body-emphasis">Seize the Deals</h3>
            <p>
              When you receive a notification, you'll not only be informed about
              the price drop but also provided with all the necessary details
              about the product. We'll even include a direct affiliate link, so
              you can conveniently purchase it through our platform and enjoy
              exclusive savings.
            </p>
            <a href="#" class="icon-link">
              Try it
              <img src="./images/chevron-right.svg" alt="" />
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- HOW IT WORKS END -->

    <!-- WHY CHOOSE PRICE WISE START -->
    <div id="why-choose-pricewise">
      <div class="container px-4 py-5" id="custom-cards">
        <h2 class="pb-2 border-bottom">Why Choose PriceWise.</h2>

        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
          <div class="col">
            <div
              class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
              style="background-image: url('unsplash-photo-1.jpg')"
            >
              <div
                class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1"
              >
                <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
                  Saves You Time and Effort
                </h3>
                <p>
                  Our intelligent tracking system saves you the hassle of
                  constantly monitoring prices yourself. Sit back, relax, and
                  let PriceWise do the work for you.
                </p>
                <ul class="d-flex list-unstyled mt-auto">
                  <li class="me-auto">
                    <img
                      src="./images/hourglass-split.svg"
                      alt="hourglass-split"
                      width="32"
                      height="32"
                      class="rounded-circle border bg-white p-1"
                    />
                  </li>
                  <li class="d-flex align-items-center me-3">
                    <small>PriceWise / Time</small>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col">
            <div
              class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
              style="background-image: url('unsplash-photo-2.jpg')"
            >
              <div
                class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1"
              >
                <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
                  Maximize Your Savings
                </h3>
                <p>
                  With our timely alerts and access to exclusive deals, you'll
                  never miss a great opportunity to save money on the products
                  you love.
                </p>
                <ul class="d-flex list-unstyled mt-auto">
                  <li class="me-auto">
                    <img
                      src="./images/currency-dollar.svg"
                      alt="currency-dollar"
                      width="32"
                      height="32"
                      class="rounded-circle border bg-white p-1"
                    />
                  </li>
                  <li class="d-flex align-items-center me-3">
                    <small>PriceWise / Savings</small>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col">
            <div
              class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
              style="background-image: url('unsplash-photo-3.jpg')"
            >
              <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
                  User-Friendly and Secure
                </h3>
                <p>
                  PriceWise is designed with a user-friendly interface, making
                  navigating and setting up your product preferences easy. Your
                  data privacy and security are our top priorities
                </p>
                <ul class="d-flex list-unstyled mt-auto">
                  <li class="me-auto">
                    <img
                      src="./images/shield-check.svg"
                      alt="Bootstrap"
                      width="32"
                      height="32"
                      class="rounded-circle border bg-white p-1"
                    />
                  </li>
                  <li class="d-flex align-items-center me-3">
                    <small>PriceWise / Secure</small>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- WHY CHOOSE PRICE WISE END -->

    <!-- ABOUT START -->
    <section id="about-us">
      <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold text-body-emphasis">About Us</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">
            At Price Wise, our mission is simple: to empower smart shoppers like
            you with the tools and knowledge to make informed purchasing
            decisions and save money effortlessly. We understand that finding
            the best deals and tracking price drops can be time-consuming and
            overwhelming, which is why we've created a user-friendly and
            reliable platform to streamline your shopping experience.
          </p>
        </div>
      </div>
    </section>
    <!-- ABOUT END -->

    <!-- FOOTER START -->
    <%- include('partials/footer.ejs') %>
    <!-- FOOTER END -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
