<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css"
    />
    <link rel="icon" href="./images/favicon.ico" />
    <link rel="stylesheet" href="./CSS/styles.css" />
    <title>PriceWise - Login</title>
  </head>
  <body>
    <div class="container">
      <header
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
      >
        <div class="col-md-3 mb-2 mb-md-0 logo-and-name">
          <a
            href="/"
            class="d-inline-flex link-body-emphasis text-decoration-none"
          >
            <img
              src="/images/logo.png"
              alt="Price Wise Logo"
              class="header-logo"
            />
          </a>
          <a href="/" class="price-wise-a"
            ><h3 id="navbar-brand-name">PriceWise.</h3></a
          >
        </div>
      </header>
    </div>
    <div class="container d-flex justify-content-between">
      <img src="/images/sign-up.webp" alt="" draggable="false" />
      <form action="/dashboard" method="post" class="w-100 p-4">
        <h2>Login</h2>
        <div class="form-floating mt-3">
          <input
            type="email"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
            name="email"
            required
          />
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mt-3">
          <input
            type="password"
            class="form-control"
            id="floatingInput"
            placeholder="Enter your password"
            name="password"
            required
          />
          <label for="floatingInput">Password</label>
        </div>
        <button class="btn btn-dark w-100 mt-3 cta-btn-hero" type="submit">
          Login
        </button>
        <div class="card-footer text-left">
          <p>Don't have an account? <a href="/signup">Sign Up</a></p>
        </div>
        <p class="mt-5 mb-3 text-muted text-center">© 2023 PriceWise.</p>
      </form>
    </div>
    <%- include('partials/footer.ejs') %>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
